<!DOCTYPE html>
<html lang="en">
<head>
    <!--require meta tags-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Boostrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!--Custom CSS-->
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
        body{
            background-color: rgb(235, 206, 225);
            color: rgb(10, 3, 8);
            font-family: sans-serif;
            font-size: medium;
        }
        .kartu{
            background-color: rgb(82, 72, 72);
        }
    </style>
    <title>{% if judul %} {{judul}} - {% endif %} Kamu Kelompok Berapa?</title>
</head>
<body>
    <div class="container-f1">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg navbar-light bg-info mb-5">
            <div class="container banner">
                <a class="navbar-brand" href="{{url_for('home')}}"><b>PEMROGRAMAN FUNGSIONAL</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav inline">
                        <li class="nav-item mr-5">
                            <a class="nav-link{% if judul == 'Home'%} active fw-bold{% endif %}" href="{{url_for('home')}}">Home</a>
                        </li>
                        <li class="nav-item mr-5">
                            <a class="nav-link{% if judul == 'Cari Data'%} active fw-bold{%endif%}" href="{{url_for('caridata')}}">Cari</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
<!--content-->
{% block content%}
    </div>
</body>
</html>
{% endblock %}