{%extends "base.html"%}
{%block content%}
<div class="container mt-5 mb-5 p-2">
    <h1 class="text-center fw-blod">CARI DATA RUMAH SAKIT</h1>
    <div class="row mt-5">
        <div class="col-sm"></div>
        <div class="col-sm">
            <form action="http://127.0.0.1:5000/cari" method="post">
                <div class="mb-3">
                    <label class="form-label">Masukan Provinsi</label>
                    <input type="text" class="form-control" name="cari">
                </div>
                <button type="submit" class="btn btn-info">Kirim</button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>
<div class="container mt-2">
    <h2 class="text-container mb-5 fw-blod">RS TERDAPAT DI PROVINSI:</h2>
    <div class="row row-cols-1 row-cols-md-2 g-4">
        {%for i in x%}
        <div class="col">
            <div class="card" style="width : 35rem">
                <div class="card-body">
                    <h5 class="card-title fw-bold">{{i}}</h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}